@charset "UTF-8";
/*
 Theme Name:     Atomic Child Theme
 Theme URI:      http://duotones.ch
 Description:    A Atomic Child Theme
 Author:         Elegant Themes
 Author URI:     http://duotones.ch
 Template:       atomic
 Version:        1.0.0
*/
/*
 * Developer : Marcel Hadorn for Duotones LLC (marcel@duotones.ch)
 * All HTML/CSS code (c)2014 Duotones LLC. all rights reserved
*/
@import url(../../atomic/assets/font/material-design-icon/material-icons.css);
@import url(../../atomic/assets/font/social-icons/style.css);
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-size: 100%;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

html,
button,
input,
select,
textarea {
  font-family: sans-serif;
}

body {
  margin: 0;
}

a:focus {
  outline: thin dotted;
}

a:active,
a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}

h3 {
  font-size: 1.17em;
  margin: 1em 0;
}

h4 {
  font-size: 1em;
  margin: 1.33em 0;
}

h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
}

h6 {
  font-size: 0.67em;
  margin: 2.33em 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

blockquote {
  margin: 1em 40px;
}

dfn {
  font-style: italic;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
}

mark {
  background: #ff0;
  color: #000;
}

p,
pre {
  margin: 1em 0;
}

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em;
}

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: none;
}

q:before,
q:after {
  content: '';
  content: none;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

dl,
menu,
ol,
ul {
  margin: 1em 0;
}

dd {
  margin: 0 0 0 40px;
}

menu,
ol,
ul {
  padding: 0 0 0 40px;
}

nav ul,
nav ol {
  list-style: none;
  list-style-image: none;
}

img {
  border: 0;
  /* 1 */
  -ms-interpolation-mode: bicubic;
  /* 2 */
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 0;
}

form {
  margin: 0;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  /* 1 */
  padding: 0;
  white-space: normal;
  /* 2 */
  *margin-left: -7px;
  /* 3 */
}

button,
input,
select,
textarea {
  font-size: 100%;
  /* 1 */
  margin: 0;
  /* 2 */
  vertical-align: baseline;
  /* 3 */
  *vertical-align: middle;
  /* 3 */
}

button,
input {
  line-height: normal;
}

button,
select {
  text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
  *overflow: visible;
  /* 4 */
}

button[disabled],
html input[disabled] {
  cursor: default;
}

input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
  *height: 13px;
  /* 3 */
  *width: 13px;
  /* 3 */
}

input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*
default variables
the default variables are used to set up your basic theme styles like fonts, basc typography, colors, borders, gradients and so on… this variables are used to style all atoms, molecules and organisms.
*/
/* responsive helpers */
/* fonts */
/* typography */
/* colors */
/* theme colors */
/* alerts */
/* gray scales */
/* font colors */
/* background colors */
/* gradients */
/* border */
/* spaces */
/*
default variables
the default variables are used to set up your basic theme styles like fonts, basc typography, colors, borders, gradients and so on… this variables are used to style all atoms, molecules and organisms.
*/
/* responsive helpers */
/* fonts */
/* typography */
/* colors */
/* theme colors */
/* alerts */
/* gray scales */
/* font colors */
/* background colors */
/* gradients */
/* border */
/* spaces */
/* fonts */
/* colors */
/* theme colors */
/* alerts */
/* font colors */
/* gradients */
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *::after, *::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  font-size: 1em;
  line-height: 1.5;
  color: #2A2A2A;
  -webkit-font-smoothing: antialiased;
}

.site-header .container {
  background: transparent;
}

.header-bar {
  top: 0;
  left: 0;
  z-index: 12;
  width: 100%;
  background-color: #ffffff;
}

.container {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  padding: 24px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container::after {
  clear: both;
  content: "";
  display: block;
}

.half {
  float: left;
  display: block;
  margin-right: 3.28774%;
  width: 48.35613%;
}

@media screen and (max-width: 768px) {
  .half {
    float: left;
    display: block;
    margin-right: 3.28774%;
    width: 100%;
  }
  .half:last-child {
    margin-right: 0;
  }
}

@media screen and (max-width: 500px) {
  .half {
    margin-top: 15px;
  }
}

.half:last-child {
  margin-right: 0;
}

.wide {
  float: left;
  display: block;
  margin-right: 3.28774%;
  width: 65.57075%;
}

@media screen and (max-width: 768px) {
  .wide {
    float: left;
    display: block;
    margin-right: 3.28774%;
    width: 100%;
  }
  .wide:last-child {
    margin-right: 0;
  }
}

@media screen and (max-width: 500px) {
  .wide {
    margin-top: 15px;
  }
}

.wide:last-child {
  margin-right: 0;
}

.narrow {
  float: left;
  display: block;
  margin-right: 3.28774%;
  width: 31.1415%;
}

@media screen and (max-width: 600px) {
  .narrow {
    float: left;
    display: block;
    margin-right: 3.28774%;
    width: 100%;
  }
  .narrow:last-child {
    margin-right: 0;
  }
}

@media screen and (max-width: 500px) {
  .narrow {
    margin-top: 15px;
  }
}

.narrow:last-child {
  margin-right: 0;
}

.quarter {
  float: left;
  display: block;
  margin-right: 3.28774%;
  width: 22.53419%;
}

@media screen and (max-width: 600px) {
  .quarter {
    float: left;
    display: block;
    margin-right: 3.28774%;
    width: 48.35613%;
  }
  .quarter:last-child {
    margin-right: 0;
  }
  .quarter:nth-child(4n) {
    margin-right: 3.28774%;
  }
  .quarter:nth-child(4n+1) {
    clear: none;
  }
  .quarter:nth-child(2n) {
    margin-right: 0;
  }
  .quarter:nth-child(2n+1) {
    clear: left;
  }
}

@media screen and (max-width: 500px) {
  .quarter {
    margin-top: 15px;
  }
}

.quarter:last-child {
  margin-right: 0;
}

.quarter:nth-child(4n) {
  margin-right: 0;
}

.quarter:nth-child(4n+1) {
  clear: left;
}

.three-quarter {
  float: left;
  display: block;
  margin-right: 3.28774%;
  width: 74.17806%;
}

@media screen and (max-width: 600px) {
  .three-quarter {
    float: left;
    display: block;
    margin-right: 3.28774%;
    width: 100%;
  }
  .three-quarter:last-child {
    margin-right: 0;
  }
  .three-quarter:nth-child(4n) {
    margin-right: 3.28774%;
  }
  .three-quarter:nth-child(4n+1) {
    clear: none;
  }
  .three-quarter:nth-child(2n) {
    margin-right: 0;
  }
  .three-quarter:nth-child(2n+1) {
    clear: left;
  }
}

@media screen and (max-width: 500px) {
  .three-quarter {
    margin-top: 15px;
  }
}

.three-quarter:last-child {
  margin-right: 0;
}

.three-quarter:nth-child(2n) {
  margin-right: 0;
}

.three-quarter:nth-child(2n+1) {
  clear: left;
}

.clearfix::after {
  clear: both;
  content: "";
  display: block;
}

html {
  font-family: "Frutiger Condensed", "Helvetica Neue", "Arial", sans-serif;
}

/**
* if you wanna use this mixin simply add it as css rule to the element of your joice.
*
*     @css rule
*     .arrow {
*          @include arrow(left, #000000, 40px, 2px, '', '', after);
*     }
*
*     @additional remarks for declarations
*     $direction = up, right, down or left / sets direction to which the arrow points
*     $color = any color value or variable
*     $size = any size in px, em etc.
*     $thickness = any size in px, em etc.
*     $top = any size in px, em, % etc. / sets the top position
*     $right = any size in px, em, % etc. / sets the right position
*     $pseudo = after or before / declares the pseudo element of your html element in which the arrow should be generated
*
*/
blockquote {
  padding: 0 0 0 16px;
  margin: 24px 0;
  font-family: "Frutiger", "Helvetica Neue", "Arial", sans-serif;
  font-size: 1.2em;
  font-style: italic;
  color: #505050;
  border-left: 2px solid rgba(42, 42, 42, 0.4);
}

blockquote.source::after {
  display: block;
  font-size: 0.8em;
  color: #1d1d1d;
  content: "– " attr(cite);
}

.brand {
  float: left;
  width: 200px;
  line-height: 0;
  text-decoration: none;
}

.brand img {
  width: 200px;
}

/* three different button colors per default */
/* three different button sizes per default */
/* disabled buttons */
/* button hover darken value */
/* you will find this in /sass/_atoms/mixins/_buttons.scss */
.btn,
.button,
button,
.site a.btn,
p a.btn, input[type='submit'],
input[type='reset'],
input[type='button'] {
  color: #ffffff;
  background-color: #00AF20;
  display: inline-block;
  width: auto;
  padding: 0.5em 1.5em;
  margin: 0;
  font-family: "Frutiger Condensed", "Helvetica Neue", "Arial", sans-serif;
  font-size: 1em;
  font-weight: normal;
  line-height: 1.5em;
  text-decoration: none;
  white-space: nowrap;
  cursor: pointer;
  border: 1px solid transparent;
  -webkit-border-radius: 0;
          border-radius: 0;
  outline: none;
  -webkit-transition: 0.2s cubic-bezier(1, 0, 0, 1) all, 0.15s cubic-bezier(0.445, 0.05, 0.55, 0.95) -webkit-transform;
          transition: 0.2s cubic-bezier(1, 0, 0, 1) all, 0.15s cubic-bezier(0.445, 0.05, 0.55, 0.95) transform;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.btn:hover,
.button:hover,
button:hover,
.site a.btn:hover, input[type='submit']:hover,
input[type='reset']:hover,
input[type='button']:hover {
  color: #ffffff;
  background-color: #007c17;
}

.sm.btn,
.sm.button,
button.sm,
.site a.sm.btn, input.sm[type='submit'],
input.sm[type='reset'],
input.sm[type='button'] {
  padding: 0.5em 1em;
  font-size: 0.75em;
}

.lg.btn,
.lg.button,
button.lg,
.site a.lg.btn, input.lg[type='submit'],
input.lg[type='reset'],
input.lg[type='button'] {
  padding: 0.46154em 1em;
  font-size: 1.5em;
}

.secondary.btn,
.secondary.button,
button.secondary,
.site a.secondary.btn, input.secondary[type='submit'],
input.secondary[type='reset'],
input.secondary[type='button'] {
  color: #ffffff;
  background-color: #009D1D;
}

.secondary.btn:hover,
.secondary.button:hover,
button.secondary:hover, input.secondary[type='submit']:hover,
input.secondary[type='reset']:hover,
input.secondary[type='button']:hover {
  color: #ffffff;
  background-color: #006a14;
}

.tertiary.btn,
.tertiary.button,
button.tertiary,
.site a.tertiary.btn, input.tertiary[type='submit'],
input.tertiary[type='reset'],
input.tertiary[type='button'] {
  color: #ffffff;
  background-color: #0BD800;
}

.tertiary.btn:hover,
.tertiary.button:hover,
button.tertiary:hover, input.tertiary[type='submit']:hover,
input.tertiary[type='reset']:hover,
input.tertiary[type='button']:hover {
  color: #ffffff;
  background-color: #08a500;
}

.btn:disabled,
.button:disabled,
button:disabled,
.site a.btn:disabled, input[type='submit']:disabled,
input[type='reset']:disabled,
input[type='button']:disabled, .btn [disabled],
.button [disabled],
button [disabled],
.site a.btn [disabled], input[type='submit'] [disabled],
input[type='reset'] [disabled],
input[type='button'] [disabled] {
  background-color: #abbfcd;
}

.btn:disabled:hover,
.button:disabled:hover,
button:disabled:hover, input[type='submit']:disabled:hover,
input[type='reset']:disabled:hover,
input[type='button']:disabled:hover, .btn [disabled]:hover,
.button [disabled]:hover,
button [disabled]:hover, input[type='submit'] [disabled]:hover,
input[type='reset'] [disabled]:hover,
input[type='button'] [disabled]:hover {
  background-color: #abbfcd;
  border-color: #abbfcd;
}

.btn:active,
.button:active,
button:active,
.site a.btn:active, input[type='submit']:active,
input[type='reset']:active,
input[type='button']:active {
  -webkit-transform: scale(0.98);
      -ms-transform: scale(0.98);
          transform: scale(0.98);
}

.btn.ghost,
.button.ghost,
button.ghost,
.site a.btn.ghost,
p a.btn.ghost {
  color: #00AF20;
  background-color: transparent;
  border-color: #00AF20;
}

.btn.ghost:hover,
.button.ghost:hover,
button.ghost:hover,
.site a.btn.ghost:hover {
  color: #ffffff;
  background-color: #00AF20;
}

a.btn.appstore.store {
  display: inline-block;
  padding: 12px 16px 2px;
  background-color: #2A2A2A;
}

a.btn.appstore.store img {
  height: 32px;
}

cite {
  font-style: italic;
  color: #6a6a6a;
}

cite::before {
  content: "— ";
}

.clearfix::after {
  clear: both;
  content: "";
  display: block;
}

p code, p pre, code {
  padding: 0 8px;
  font-family: 'Lucida Console', Monaco, monospace;
  font-size: .875em;
  background-color: #e4ebef;
  -webkit-border-radius: 0;
          border-radius: 0;
}

/**
* if you wanna use this mixin simply add it as css rule to the element of your joice.*
* remember to set the cta-scroll parent element to position relative
*
*     @additional remarks for declarations
*     $mousewidth = width of the mouse element
*     $mouseheight = height of the mouse element
*     $scrollerwidth = width of the scroller element
*     $scrollerheight = height of the scroller element
*     $stroke = width of border for mouse, mouse pseudo and scroller elements
*     $color = color of border for mouse, mouse pseudo and scroller elements
*     $duration = scroller animation duration
*/
@-webkit-keyframes cta-scroll {
  0% {
    opacity: .5;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  70% {
    opacity: .5;
    -webkit-transform: translateY(130%);
            transform: translateY(130%);
  }
  71% {
    opacity: 1;
    -webkit-transform: translateY(130%);
            transform: translateY(130%);
  }
  99% {
    opacity: 1;
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  100% {
    opacity: .5;
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}
@keyframes cta-scroll {
  0% {
    opacity: .5;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  70% {
    opacity: .5;
    -webkit-transform: translateY(130%);
            transform: translateY(130%);
  }
  71% {
    opacity: 1;
    -webkit-transform: translateY(130%);
            transform: translateY(130%);
  }
  99% {
    opacity: 1;
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  100% {
    opacity: .5;
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

fieldset {
  padding: 1.5em;
  margin: 1.5em 1.5em 0.75em 1.5em;
  background: #ffffff;
  border: 1px solid #e4ebef;
}

figure {
  padding: 8px;
  margin-bottom: 8px;
  background-color: #ffffff;
  border: none;
}

figure figcaption {
  margin-top: 8px;
  margin-bottom: 0;
  line-height: 1.5em;
}

@media (max-width: 500px) {
  figure figcaption {
    font-size: 0.75em;
  }
}

@media (max-width: 768px) {
  figure {
    text-align: center;
  }
}

figure img {
  display: block;
  margin: 0 auto;
}

/*//body.tabbing *:focus::after {
//	content: '';
//	position: relative;
//	width: 100%;
//	box-shadow: 0 0 0 5px transparent, 0 0 10px 5px $secondary;
//	border-radius: $border-radius*2;
//}*/
#flying-focus {
  position: absolute;
  margin: 0;
  background: transparent;
  -webkit-transition-property: left, top, width, height;
  transition-property: left, top, width, height;
  -webkit-transition-timing-function: cubic-bezier(1, 0, 0, 1);
  transition-timing-function: cubic-bezier(1, 0, 0, 1);
  visibility: hidden;
  pointer-events: none;
}

#flying-focus {
  -webkit-box-shadow: 0 0 2px 3px #00AF20, 0 0 2px #00AF20 inset;
          box-shadow: 0 0 2px 3px #00AF20, 0 0 2px #00AF20 inset;
  -webkit-border-radius: 4px;
          border-radius: 4px;
}

#flying-focus.flying-focus_visible {
  visibility: visible;
  z-index: 9999;
}

.flying-focus_target {
  outline: none !important;
  /* Doesn't work in Firefox :( */
}

/* http://stackoverflow.com/questions/71074/how-to-remove-firefoxs-dotted-outline-on-buttons-as-well-as-links/199319 */
.flying-focus_target::-moz-focus-inner {
  border: 0 !important;
}

/* Replace it with @supports rule when browsers catch up */
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  #flying-focus {
    -webkit-box-shadow: none;
            box-shadow: none;
    outline: 4px auto #00AF20;
    outline-offset: 4px;
  }
}

html:not(.js) *:focus {
  -webkit-box-shadow: 0px 0px 7px 0px #00AF20;
          box-shadow: 0px 0px 7px 0px #00AF20;
}

.hamburger {
  position: fixed;
  top: 32px;
  right: 16px;
  z-index: 10;
  padding: 16px;
  cursor: pointer;
  -webkit-transition: 0.5s all cubic-bezier(0.86, 0, 0.07, 1);
          transition: 0.5s all cubic-bezier(0.86, 0, 0.07, 1);
}

.hamburger .bar {
  display: block;
  width: 28px;
  height: 3px;
  margin-bottom: 5px;
  background-color: #00AF20;
  -webkit-transition: 0.5s all cubic-bezier(0.86, 0, 0.07, 1);
          transition: 0.5s all cubic-bezier(0.86, 0, 0.07, 1);
}

.hamburger .bar:last-child {
  margin-bottom: 0;
}

.in.hamburger {
  right: 6px;
}

.in.hamburger .bar {
  background-color: #ffffff;
}

.in.hamburger .bar:nth-child(1) {
  -webkit-transform: rotateZ(45deg) translateY(-2px);
          transform: rotateZ(45deg) translateY(-2px);
  -webkit-transform-origin: left top;
      -ms-transform-origin: left top;
          transform-origin: left top;
}

.in.hamburger .bar:nth-child(2) {
  width: 2px;
  -webkit-transform: rotateZ(0deg) translateX(10px);
          transform: rotateZ(0deg) translateX(10px);
  -webkit-transform-origin: center right;
      -ms-transform-origin: center right;
          transform-origin: center right;
}

.in.hamburger .bar:nth-child(3) {
  -webkit-transform: rotateZ(-45deg) translateY(2px);
          transform: rotateZ(-45deg) translateY(2px);
  -webkit-transform-origin: left bottom;
      -ms-transform-origin: left bottom;
          transform-origin: left bottom;
}

@media screen and (min-width: 769px) {
  .hamburger {
    display: none;
  }
}

/* for px value (value, 'px'), for em value (value, 'em') */
/* for px value (value, 'px'), for em value (value, 'em') */
/* for px value (value, 'px'), for em value (value, 'em') */
/* for px value (value, 'px'), for em value (value, 'em') */
/* for px value (value, 'px'), for em value (value, 'em') */
/* for px value (value, 'px'), for em value (value, 'em') */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 16px 0 8px;
  font-family: "Frutiger Condensed", "Helvetica Neue", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  line-height: 1.5em;
  color: #2A2A2A;
  text-rendering: optimizeLegibility;
  text-transform: normal;
}

h1 {
  font-size: 2.25em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.75em;
}

h4 {
  font-size: 1.5em;
}

h5 {
  font-size: 1.25em;
}

h6 {
  font-size: 1.05em;
}

.hide-text {
  overflow: hidden;
  text-indent: 101%;
  white-space: nowrap;
}

hr {
  margin: 1.5em 0;
  border-top: 0;
  border-right: 0;
  border-bottom: 1px solid #e4ebef;
  border-left: 0;
}

img {
  width: 100%;
  height: auto;
  max-width: 100%;
  margin: 0;
}

.card .card-header img, .feature-img img, img.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  width: auto;
  min-width: 100%;
  min-height: 100%;
  -webkit-transform: translate3d(-50%, -50%, 0);
          transform: translate3d(-50%, -50%, 0);
}

/**
*     @additional information
*     all inputs are basically extended with %input and all text inputs with %input and %focus
*     checkbox, fileupload, radiobutton, submit, search and select have own atom setups
*/
input[type='color']:focus,
input[type='date']:focus,
input[type='datetime']:focus,
input[type='datetime-local']:focus,
input[type='email']:focus,
input[type='month']:focus,
input[type='number']:focus,
input[type='password']:focus,
input[type='search']:focus,
input[type='tel']:focus,
input[type='text']:focus,
input[type='time']:focus,
input[type='url']:focus,
input[type='week']:focus {
  color: #323232;
  border-color: #00AF20;
}

input[type='color'],
input[type='date'],
input[type='datetime'],
input[type='datetime-local'],
input[type='email'],
input[type='month'],
input[type='number'],
input[type='password'],
input[type='search'],
input[type='tel'],
input[type='text'],
input[type='time'],
input[type='url'],
input[type='week'] {
  display: block;
  width: 100%;
  padding: 0.5em 0.75em;
  margin: 0 0 0.75em 0;
  background-color: #ffffff;
  border: 1px solid #e4ebef;
  -webkit-border-radius: 0;
          border-radius: 0;
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  line-height: 1.5em;
}

input[type='color']::-webkit-input-placeholder,
input[type='date']::-webkit-input-placeholder,
input[type='datetime']::-webkit-input-placeholder,
input[type='datetime-local']::-webkit-input-placeholder,
input[type='email']::-webkit-input-placeholder,
input[type='month']::-webkit-input-placeholder,
input[type='number']::-webkit-input-placeholder,
input[type='password']::-webkit-input-placeholder,
input[type='search']::-webkit-input-placeholder,
input[type='tel']::-webkit-input-placeholder,
input[type='text']::-webkit-input-placeholder,
input[type='time']::-webkit-input-placeholder,
input[type='url']::-webkit-input-placeholder,
input[type='week']::-webkit-input-placeholder {
  color: rgba(0, 175, 32, 0.5);
  padding: 0;
}

input[type='color']::-moz-placeholder,
input[type='date']::-moz-placeholder,
input[type='datetime']::-moz-placeholder,
input[type='datetime-local']::-moz-placeholder,
input[type='email']::-moz-placeholder,
input[type='month']::-moz-placeholder,
input[type='number']::-moz-placeholder,
input[type='password']::-moz-placeholder,
input[type='search']::-moz-placeholder,
input[type='tel']::-moz-placeholder,
input[type='text']::-moz-placeholder,
input[type='time']::-moz-placeholder,
input[type='url']::-moz-placeholder,
input[type='week']::-moz-placeholder {
  color: rgba(0, 175, 32, 0.5);
  padding: 0;
}

input[type='color']:-ms-input-placeholder,
input[type='date']:-ms-input-placeholder,
input[type='datetime']:-ms-input-placeholder,
input[type='datetime-local']:-ms-input-placeholder,
input[type='email']:-ms-input-placeholder,
input[type='month']:-ms-input-placeholder,
input[type='number']:-ms-input-placeholder,
input[type='password']:-ms-input-placeholder,
input[type='search']:-ms-input-placeholder,
input[type='tel']:-ms-input-placeholder,
input[type='text']:-ms-input-placeholder,
input[type='time']:-ms-input-placeholder,
input[type='url']:-ms-input-placeholder,
input[type='week']:-ms-input-placeholder {
  color: rgba(0, 175, 32, 0.5);
  padding: 0;
}

input[type='color']::placeholder,
input[type='date']::placeholder,
input[type='datetime']::placeholder,
input[type='datetime-local']::placeholder,
input[type='email']::placeholder,
input[type='month']::placeholder,
input[type='number']::placeholder,
input[type='password']::placeholder,
input[type='search']::placeholder,
input[type='tel']::placeholder,
input[type='text']::placeholder,
input[type='time']::placeholder,
input[type='url']::placeholder,
input[type='week']::placeholder {
  color: rgba(0, 175, 32, 0.5);
  padding: 0;
}

input[type='date']::before,
input[type='datetime']::before,
input[type='datetime-local']::before,
input[type='time']::before,
input[type='month']::before {
  margin-right: 8px;
  color: rgba(0, 175, 32, 0.5);
  content: attr(placeholder);
}

input[type="color"] {
  -webkit-appearance: none;
  width: 48px;
  height: 42px;
}

input[type="color"]::-webkit-color-swatch-wrapper {
  padding: 2px 0;
}

input[type="color"]::-webkit-color-swatch {
  border: none;
}

/**
*     @additional information
*     all inputs are basically extended with the input atom and are the base for %input-checkbox
*/
input[type='checkbox'] {
  display: inline-block;
  width: 1em;
  margin: 0 0.375em 0 0;
  cursor: pointer;
  outline: none;
}

label.checkbox {
  position: relative;
  display: block;
  height: 2em;
  margin-bottom: 8px;
  line-height: 1.9em;
  text-indent: 2.3em;
  cursor: pointer;
}

label.checkbox:hover input[type='checkbox']::before {
  border-color: #ffffff;
}

label.checkbox:hover input[type='checkbox']::after {
  opacity: .4;
}

label.checkbox input[type='checkbox'] {
  position: absolute;
  display: block;
  float: left;
  width: 1.7em;
  height: 1.7em;
  line-height: 1.5em;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

label.checkbox input[type='checkbox']::before {
  position: absolute;
  top: 1px;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  background-color: #ffffff;
  border: 1px solid #e4ebef;
  border-color: #ffffff;
  -webkit-border-radius: 0;
          border-radius: 0;
  -webkit-box-shadow: 0 2px 5px -2px rgba(0, 0, 0, 0.4);
          box-shadow: 0 2px 5px -2px rgba(0, 0, 0, 0.4);
  content: '';
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: all 0.3s cubic-bezier(0.86, 0, 0.07, 1);
          transition: all 0.3s cubic-bezier(0.86, 0, 0.07, 1);
}

label.checkbox input[type='checkbox']::after {
  position: absolute;
  top: 51%;
  left: 49%;
  width: 15px;
  height: 8px;
  background: transparent;
  border: 3px solid #00AF20;
  border-top: 0;
  border-right: 0;
  content: '';
  opacity: 0;
  -webkit-transform-origin: -0% -0%;
      -ms-transform-origin: -0% -0%;
          transform-origin: -0% -0%;
  -webkit-transform: rotate(-45deg) scale(0.55) translateX(-35%) translateY(-65%);
      -ms-transform: rotate(-45deg) scale(0.55) translateX(-35%) translateY(-65%);
          transform: rotate(-45deg) scale(0.55) translateX(-35%) translateY(-65%);
  -webkit-transition: all 0.3s cubic-bezier(0.86, 0, 0.07, 1);
          transition: all 0.3s cubic-bezier(0.86, 0, 0.07, 1);
}

label.checkbox input[type='checkbox']:checked::before {
  border-color: #ffffff;
}

label.checkbox input[type='checkbox']:checked::after {
  opacity: 1;
  -webkit-transform-origin: -0% -0%;
      -ms-transform-origin: -0% -0%;
          transform-origin: -0% -0%;
  -webkit-transform: rotate(-45deg) scale(1) translateX(-35%) translateY(-65%);
      -ms-transform: rotate(-45deg) scale(1) translateX(-35%) translateY(-65%);
          transform: rotate(-45deg) scale(1) translateX(-35%) translateY(-65%);
}

/**
*     @additional information
*     all inputs are basically extended with the input atom and are the base for %fileupload
*/
input[type='file'] {
  width: 100%;
  padding: 0 0 0.5em 0;
  margin: 0 0 0.75em 0;
  cursor: pointer;
  outline: none;
}

/**
*     @additional information
*     all inputs are basically extended with the input atom and are the base for %input-radio
*/
input[type='radio'] {
  display: inline;
  width: auto;
  margin: 0 0.375em 0 0;
  cursor: pointer;
  outline: none;
}

label.radio {
  position: relative;
  display: block;
  height: 2em;
  margin-bottom: 8px;
  line-height: 1.9em;
  text-indent: 2.2em;
  cursor: pointer;
}

label.radio:hover input[type='radio']::before {
  border-color: #ffffff;
}

label.radio:hover input[type='radio']::after {
  opacity: .3;
}

label.radio input[type='radio'] {
  position: absolute;
  display: block;
  float: left;
  width: 1.7em;
  height: 1.7em;
  line-height: 1.5em;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

label.radio input[type='radio']::before {
  position: absolute;
  top: 1px;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  background-color: #ffffff;
  -webkit-border-radius: 0;
          border-radius: 0;
  -webkit-box-shadow: 0 2px 5px -2px rgba(0, 0, 0, 0.4);
          box-shadow: 0 2px 5px -2px rgba(0, 0, 0, 0.4);
  -webkit-border-radius: 50%;
          border-radius: 50%;
  content: '';
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: all 0.3s cubic-bezier(0.86, 0, 0.07, 1);
          transition: all 0.3s cubic-bezier(0.86, 0, 0.07, 1);
}

label.radio input[type='radio']::after {
  position: absolute;
  top: 51%;
  left: 50%;
  width: 7px;
  height: 7px;
  background-color: #00AF20;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  content: '';
  opacity: 0;
  -webkit-transform-origin: 0 0;
      -ms-transform-origin: 0 0;
          transform-origin: 0 0;
  -webkit-transform: scale(0.55) translateX(-50%) translateY(-50%);
      -ms-transform: scale(0.55) translateX(-50%) translateY(-50%);
          transform: scale(0.55) translateX(-50%) translateY(-50%);
  -webkit-transition: all 0.3s cubic-bezier(0.86, 0, 0.07, 1);
          transition: all 0.3s cubic-bezier(0.86, 0, 0.07, 1);
}

label.radio input[type='radio']:checked::before {
  border-color: #ffffff;
}

label.radio input[type='radio']:checked::after {
  opacity: 1;
  -webkit-transform-origin: 0 0;
      -ms-transform-origin: 0 0;
          transform-origin: 0 0;
  -webkit-transform: scale(1.5) translateX(-50%) translateY(-51%);
      -ms-transform: scale(1.5) translateX(-50%) translateY(-51%);
          transform: scale(1.5) translateX(-50%) translateY(-51%);
}

/**
*     @additional information
*     all inputs are basically extended with the input atom and are the base for %input-range
*/
input[type='range'] {
  width: 100%;
  cursor: pointer;
  outline: none;
  margin: 8px 0 20.8px;
}

input.range[type='range'] {
  width: 100%;
  height: 3px;
  background-color: #00AF20;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

input.range[type='range']::-webkit-slider-thumb {
  width: 1.5em;
  height: 1.5em;
  background-color: #ffffff;
  border: 3px solid #00AF20;
  -webkit-border-radius: 1.5em;
          border-radius: 1.5em;
  -webkit-box-shadow: 1px 1px 5px 0 rgba(42, 42, 42, 0.2);
          box-shadow: 1px 1px 5px 0 rgba(42, 42, 42, 0.2);
  -webkit-transition: all 0.3s cubic-bezier(0.86, 0, 0.07, 1);
          transition: all 0.3s cubic-bezier(0.86, 0, 0.07, 1);
  -webkit-appearance: none;
          appearance: none;
}

input.range[type='range']::-webkit-slider-thumb:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

input.range[type='range']::-ms-track {
  width: 100%;
  /* Hides the slider so custom styles can be added */
  color: transparent;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
}

/**
*     @additional information
*     all inputs are basically extended with the input atom. so do not wonder if there are more rules on this input type
*/
input[type='search'] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

/**
*     @additional information
*     all inputs are basically extended with the input atom. so do not wonder if there are more rules on this input type
*/
label {
  display: block;
  margin: 0 0 0.375em 0;
  font-weight: bold;
  line-height: 1.5em;
}

label.required::after {
  content: "*";
}

label abbr {
  display: none;
}

a:not(.btn) {
  color: #00AF20;
  text-decoration: none;
}

a:hover:not(.btn) {
  color: #0f541b;
}

a:active:not(.btn) {
  color: #0f541b;
  outline: none;
}

a:focus:not(.btn) {
  color: #0f541b;
  outline: none;
}

a:visited:not(.btn) {
  color: #00AF20;
}

a:-webkit-any-link {
  text-decoration: none;
  outline: 0;
}

a.icon {
  color: #00AF20;
}

li {
  display: list-item;
  text-align: -webkit-match-parent;
}

.media {
  float: left;
  display: block;
  margin-right: 3.28774%;
  width: 100%;
  margin: auto;
}

.media:last-child {
  margin-right: 0;
}

.media .media-wrapper {
  position: relative;
  top: 0;
  left: 0;
  height: 0;
  padding: 0 0 56.25% 0;
  margin: 0 0 20px 0;
}

.media .media-wrapper embed, .media .media-wrapper iframe, .media .media-wrapper object {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
}

ul, ol {
  padding: 0 0 0 1.5em;
  margin: 0 0 0.75em 0;
  font-family: "Frutiger Condensed", "Helvetica Neue", "Arial", sans-serif;
  list-style-type: decimal;
}

p {
  margin: 0 0 24px;
  font-family: "Frutiger", "Helvetica Neue", "Arial", sans-serif;
  letter-spacing: 0;
}

p.teaser {
  font-family: "Frutiger", "Helvetica Neue", "Arial", sans-serif;
  font-size: 1.2em;
  line-height: 1.5;
  letter-spacing: .4px;
}

p * {
  font-family: "Frutiger", "Helvetica Neue", "Arial", sans-serif;
}

progress {
  width: 100%;
}

select {
  display: block;
  width: 100%;
  max-width: 100%;
  margin: 0 0 1.5em 0;
  outline: none;
}

select[multiple='multiple'] {
  width: 100%;
  padding: 0.5em 0.5em;
  margin: 0 0 0.75em 0;
  background-color: #abbfcd;
  border: 1px solid #e4ebef;
  -webkit-border-radius: 0;
          border-radius: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  resize: vertical;
}

select[multiple='multiple']:hover {
  border-color: #c4d2dc;
}

select.select {
  padding: 0.75em 1.5em;
  border: 2px solid #2A2A2A;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

select.select:not([multiple]) {
  background-color: #ffffff;
  background-image: linear-gradient(45deg, transparent 50%, #2A2A2A 50%), linear-gradient(135deg, #2A2A2A 50%, transparent 50%), -webkit-gradient(linear, left top, right top, from(transparent), to(transparent));
  background-image: linear-gradient(45deg, transparent 50%, #2A2A2A 50%), linear-gradient(135deg, #2A2A2A 50%, transparent 50%), linear-gradient(to right, transparent, transparent);
  background-position: -webkit-calc(100% - 23px) -webkit-calc(1em + 2px), -webkit-calc(100% - 15px) -webkit-calc(1em + 2px), 100% 0;
  background-position: calc(100% - 23px) calc(1em + 2px), calc(100% - 15px) calc(1em + 2px), 100% 0;
  background-repeat: no-repeat;
  background-size: 8px 8px, 8px 8px, 1.5em 1.5em;
  -webkit-border-radius: 0;
          border-radius: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

select.select:not([multiple]):hover {
  color: #00AF20;
  cursor: pointer;
  background-color: #ffffff;
  background-image: linear-gradient(45deg, transparent 50%, #00AF20 50%), linear-gradient(135deg, #00AF20 50%, transparent 50%), -webkit-gradient(linear, left top, right top, from(transparent), to(transparent));
  background-image: linear-gradient(45deg, transparent 50%, #00AF20 50%), linear-gradient(135deg, #00AF20 50%, transparent 50%), linear-gradient(to right, transparent, transparent);
  border-color: #00AF20;
  outline: 0;
}

select[multiple].select {
  padding-top: 1em;
  padding-bottom: 0;
  border-color: #00AF20;
}

select[multiple].select optgroup {
  color: #00AF20;
}

select[multiple].select option {
  height: 1.4em;
  padding: 3px;
  line-height: 1.4em;
  color: #2A2A2A;
  outline: none;
}

select[multiple].select:focus option {
  color: #2A2A2A;
}

select[multiple].select:focus option:checked {
  background: #00AF20 linear-gradient(0deg, #00AF20 0%, #00AF20 100%);
  color: red !important;
}

select[multiple].select option:checked {
  background: #00AF20 linear-gradient(0deg, #00AF20 0%, #00AF20 100%);
}

select[multiple].select option::before {
  display: none;
}

select[multiple].select option:first-of-type {
  margin-top: 0.75em;
}

* ::-moz-selection {
  text-shadow: none;
  background-color: #00ea2b;
}

* ::selection {
  text-shadow: none;
  background-color: #00ea2b;
}

.media-transcript div, textarea {
  width: 100%;
  padding: 0.5em 0.5em;
  margin: 0 0 0.75em 0;
  background-color: #e4ebef;
  border: 1px solid #e4ebef;
  -webkit-border-radius: 0;
          border-radius: 0;
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  resize: vertical;
}

.media-transcript div::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: rgba(0, 175, 32, 0.5);
}

.media-transcript div::-moz-placeholder, textarea::-moz-placeholder {
  color: rgba(0, 175, 32, 0.5);
}

.media-transcript div:-ms-input-placeholder, textarea:-ms-input-placeholder {
  color: rgba(0, 175, 32, 0.5);
}

.media-transcript div::placeholder, textarea::placeholder {
  color: rgba(0, 175, 32, 0.5);
}

/* textlink inspired by -- https://eager.io/blog/smarter-link-underlines/ */
a.textlink {
  text-shadow: 0.03em 0.02em #ffffff, -0.03em 0.02em #ffffff, 0.02em 0.03em #ffffff, 0.02em -0.03em #ffffff, 0.06em 0.02em #ffffff, -0.06em 0.02em #ffffff, 0.09em 0.02em #ffffff, -0.09em 0.02em #ffffff, 0.12em 0.02em #ffffff, -0.12em 0.02em #ffffff, 0.15em 0.02em #ffffff, -0.15em 0.02em #ffffff;
  background-image: linear-gradient(to top, transparent 0, #00AF20 0, #00AF20 1px, transparent 1px);
  -webkit-transition: color .1s linear, background-image .1s linear;
          transition: color .1s linear, background-image .1s linear;
}

ul {
  list-style-type: disc;
}

.modal {
  position: relative;
  display: none;
}

.modal.open {
  position: absolute;
  display: block;
}

.modal .modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 998;
  width: 100%;
  height: 100%;
  background-color: rgba(42, 42, 42, 0.3);
}

.modal .modal-box {
  -webkit-transform: translate3d(-50%, -51%, 0);
  -ms-transform: translate3d(-50%, -51%, 0);
  transform: translate3d(-50%, -51%, 0);
  position: absolute;
  top: 50%;
  left: 50%;
  width: 90%;
  max-width: 700px;
  padding: 50px;
  background: #ffffff;
  -webkit-box-shadow: 0 15px 25px -15px rgba(0, 0, 0, 0.4);
          box-shadow: 0 15px 25px -15px rgba(0, 0, 0, 0.4);
}

@media screen and (max-width: 600px), screen and (max-height: 600px) {
  .modal .modal-box {
    -webkit-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    position: absolute;
    top: 20px;
    right: 20px;
    bottom: 20px;
    left: 20px;
    z-index: 999;
    max-width: none;
  }
  .modal .modal-box .modal-content {
    height: 100%;
    margin: 0 0 60px;
    overflow: scroll;
  }
}

.modal .modal-box > .close-modal {
  position: absolute;
  top: 0;
  right: 0;
  padding: 18px 8px 22px;
  font-size: 3em;
  line-height: 0;
}

.modal .modal-content h1:first-of-type {
  margin-top: 0;
}

.modal .modal-content *:last-child {
  margin-bottom: 0;
}

.card {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #ffffff;
  -webkit-border-radius: 0;
          border-radius: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.card .card-header .card-image-wrapper {
  position: relative;
  padding: 0 0 58%;
  overflow: hidden;
}

.card .card-body, .card .card-footer {
  padding: 0 24px;
  margin-bottom: auto;
}

.card .card-footer {
  -webkit-align-self: flex-end;
      -ms-flex-item-align: end;
          align-self: flex-end;
  padding-bottom: 24px;
  margin-bottom: 0;
  text-align: right;
}

.card .card-body a, .card .card-footer a, .card .card-footer a {
  position: relative;
  z-index: 2;
}

.card .card-link-overall {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  display: block;
  text-indent: -9999px;
}

.button-group-appstore span {
  padding: 3px 16px 0 0;
  font-size: 1.2em;
  line-height: 48px;
  float: right;
  width: auto;
  display: table;
  text-align: right;
}

@media screen and (max-width: 355px) {
  .button-group-appstore span {
    font-size: 0.75em;
  }
}

@media screen and (max-width: 600px) {
  .button-group-appstore {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #ffffff;
  }
  .button-group-appstore a.btn {
    float: right;
    -webkit-border-radius: 0;
            border-radius: 0;
  }
  .button-group-appstore a.btn.close {
    padding: 10px 10px;
    line-height: 1em;
    font-weight: 100;
    font-size: 31.2px;
  }
}

.accordion {
  position: relative;
  display: inline-block;
  width: 100%;
  padding: 30px;
  background-color: #ffffff;
  border: 1px solid #00AF20;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.accordion .accordion-title {
  padding: 0;
  margin: 15px 0;
}

.accordion .accordion-title ~ ul li:first-child {
  border-top: 1px solid #00AF20;
}

.accordion .accordion-lead {
  margin-bottom: 15px;
  font-weight: bold;
}

.accordion .accordion-item-title {
  padding: 0 40px 15px 0;
  margin: 0;
  text-indent: 0;
}

.accordion .accordion-item-content {
  position: relative;
  max-height: 0;
  padding-right: 40px;
  padding-bottom: 0;
  overflow: hidden;
  opacity: 0;
}

.accordion input[type='checkbox'],
.accordion input[type='radio'] {
  position: absolute;
  top: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  margin: 0;
  cursor: pointer;
  opacity: 0;
}

.accordion input[type='checkbox']:checked,
.accordion input[type='radio']:checked {
  height: 60px;
}

.accordion input[type='checkbox']:checked ~ .toggle::after,
.accordion input[type='radio']:checked ~ .toggle::after {
  top: 8px;
  -webkit-transform: rotate(225deg);
      -ms-transform: rotate(225deg);
          transform: rotate(225deg);
}

.accordion input[type='checkbox']:checked ~ .accordion-item-content,
.accordion input[type='radio']:checked ~ .accordion-item-content {
  max-height: none;
  padding-bottom: 15px;
  margin: 0;
  opacity: 1;
}

.accordion input[type='radio']:checked {
  cursor: default;
}

.accordion > ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.accordion > ul li {
  position: relative;
  padding: 0;
  padding-top: 15px;
  margin: 0;
  border-top: 1px solid #00AF20;
}

.accordion > ul li:first-child {
  border-top: 0;
}

.accordion > ul li:last-of-type {
  padding-bottom: 0;
}

.accordion > ul li:hover .toggle::after {
  top: 7px;
  -webkit-transform: rotate(135deg);
      -ms-transform: rotate(135deg);
          transform: rotate(135deg);
}

.accordion > ul li:hover .accordion-item-title {
  text-indent: 8px;
}

.accordion > ul li .toggle {
  position: absolute;
  right: 20px;
  height: 100%;
}

.accordion > ul li .toggle:after {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  position: absolute;
  top: 4px;
  right: auto;
  width: 15px;
  height: 15px;
  border-right: 3px solid;
  border-bottom: 3px solid;
  border-color: #00AF20;
  content: '';
}

label.switch {
  position: relative;
  display: inline-block;
  cursor: pointer;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

label.reverse.switch {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: row-reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

label.reverse.switch input {
  margin-left: 0;
}

label.switch span {
  font-family: "Frutiger Condensed", "Helvetica Neue", "Arial", sans-serif;
}

label.switch input {
  width: 51px;
  min-width: 51px;
  height: 30px;
  margin-right: 20px;
  margin-left: 20px;
  line-height: 30px;
  cursor: pointer;
  background-color: #abbfcd;
  -webkit-border-radius: 100px;
          border-radius: 100px;
  -webkit-transition: background-color .2s ease-in;
          transition: background-color .2s ease-in;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

label.switch input::before {
  position: absolute;
  top: 50%;
  bottom: 10%;
  width: 25px;
  height: 25px;
  background-color: #ffffff;
  -webkit-border-radius: 100px;
          border-radius: 100px;
  content: '';
  -webkit-transform: translate(10%, -50%);
      -ms-transform: translate(10%, -50%);
          transform: translate(10%, -50%);
  -webkit-transition: all 0.2s cubic-bezier(0.86, 0, 0.07, 1);
          transition: all 0.2s cubic-bezier(0.86, 0, 0.07, 1);
}

label.switch input::before:not(:checked)::before {
  -webkit-transition: all 0.2s cubic-bezier(0.86, 0, 0.07, 1);
          transition: all 0.2s cubic-bezier(0.86, 0, 0.07, 1);
}

label.switch input:checked {
  background-color: #0DD832;
}

label.switch input:checked::before {
  -webkit-transform: translate(23.5px, -50%);
      -ms-transform: translate(23.5px, -50%);
          transform: translate(23.5px, -50%);
}

.switch-container label {
  -webkit-transition: color .2s linear;
          transition: color .2s linear;
}

.switch-container label:first-of-type.active {
  color: #00AF20;
}

.switch-container label:first-of-type:hover {
  color: #00AF20;
}

.switch-container label:first-of-type input[type='radio'] {
  z-index: 1;
  background-color: #00AF20;
}

.switch-container label:first-of-type input[type='radio']:checked::before {
  -webkit-transform: translate(10%, 0);
      -ms-transform: translate(10%, 0);
          transform: translate(10%, 0);
}

.switch-container label:first-of-type input[type='radio']:not(:checked) {
  z-index: 2;
  background-color: #009D1D;
}

.switch-container label:first-of-type input[type='radio']:not(:checked)::before {
  -webkit-transform: translate(23.5px, 0);
      -ms-transform: translate(23.5px, 0);
          transform: translate(23.5px, 0);
}

.switch-container label:last-of-type {
  margin-left: 20px;
}

.switch-container label:last-of-type.active {
  color: #009D1D;
}

.switch-container label:last-of-type:hover {
  color: #009D1D;
}

.switch-container label:last-of-type input[type='radio'] {
  position: absolute;
  top: 0;
  margin: 0;
  opacity: 0;
  -webkit-transform: translate(-150%, 0);
      -ms-transform: translate(-150%, 0);
          transform: translate(-150%, 0);
}

.switch-container label:last-of-type input[type='radio']:checked {
  z-index: 1;
}

.switch-container label:last-of-type input[type='radio']:not(:checked) {
  z-index: 2;
}

.switch-container label span.discount {
  position: absolute;
  top: -20px;
  left: 60%;
  padding: 6px 10px;
  font-size: .8em;
  line-height: 1;
  color: #ffffff;
  white-space: nowrap;
  background-color: #FF5800;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  -webkit-transform: rotate(10deg);
      -ms-transform: rotate(10deg);
          transform: rotate(10deg);
  -webkit-backface-visibility: hidden;
}

.feature-img {
  position: relative;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 5;
  height: 500px;
  min-height: auto;
  overflow: hidden;
  background-color: #00AF20;
}

@media screen and (max-width: 600px) {
  .feature-img {
    height: 430px;
  }
}

.feature-img img {
  z-index: 1;
  max-width: none;
  opacity: 0.15;
}

.feature-img .container {
  position: relative;
  display: block;
  min-height: 100%;
}

.feature-img h1.entry-title {
  -webkit-transform: translate3d(0%, -50%, 0);
  -ms-transform: translate3d(0%, -50%, 0);
  transform: translate3d(0%, -50%, 0);
  position: absolute;
  top: 50%;
  left: auto;
  margin: 0;
  color: #ffffff;
}

header .feature-img {
  padding-top: 0;
}

.header-bar {
  position: absolute;
}

.header-bar .container {
  padding-top: 32px;
  padding-bottom: 32px;
}

.site {
  padding-top: -webkit-calc(1em + ((12px + 12px + 32px) * 2));
  padding-top: calc(1em + ((12px + 12px + 32px) * 2));
}

.main-navigation .nav-drawer ul {
  float: right;
  padding: 12px 0;
  margin: 0;
}

.main-navigation .nav-drawer li {
  display: inline-block;
  padding: 0 20px;
}

.main-navigation .nav-drawer li a {
  -webkit-transition: 0.3s all cubic-bezier(0.785, 0.135, 0.15, 0.86);
  transition: 0.3s all cubic-bezier(0.785, 0.135, 0.15, 0.86);
  display: block;
  padding: 0;
  font-family: "Frutiger Condensed", "Helvetica Neue", "Arial", sans-serif;
  font-size: 1.4em;
  font-weight: 500;
  line-height: 1em;
  color: #00AF20;
  text-transform: lowercase;
  border-bottom: 2px solid transparent;
}

.main-navigation .nav-drawer li a:hover {
  color: #00490d;
}

.main-navigation .nav-drawer li.current_page_item > a,
.main-navigation .nav-drawer li.selected a {
  border-bottom: 2px solid #00AF20;
}

@media screen and (max-width: 769px) {
  .main-navigation .nav-drawer {
    -webkit-transition: 0.3s all cubic-bezier(0.785, 0.135, 0.15, 0.86);
    transition: 0.3s all cubic-bezier(0.785, 0.135, 0.15, 0.86);
    -webkit-transform: translateX(280px);
    -ms-transform: translateX(280px);
    transform: translateX(280px);
    position: fixed;
    top: 0;
    right: 0;
    float: none;
    width: 280px;
    height: 100%;
    color: #ffffff;
    background: #007c17;
  }
  .main-navigation .nav-drawer ul {
    float: none;
    width: 100%;
    padding: 0;
    margin-top: 115px;
  }
  .main-navigation .nav-drawer ul li,
  .main-navigation .nav-drawer ul li.selected {
    display: block;
    padding: 0;
  }
  .main-navigation .nav-drawer ul li a,
  .main-navigation .nav-drawer ul li.selected a {
    display: block;
    padding: 8px 24px;
    font-size: 1.1em;
    line-height: 1.5em;
    color: #ffffff;
    border-top: 1px solid #00a51e;
    border-bottom: 0;
  }
  .main-navigation .nav-drawer ul li a:hover,
  .main-navigation .nav-drawer ul li.selected a:hover {
    color: #ffffff;
  }
  .main-navigation .nav-drawer ul li.current_page_item {
    background-color: #00961b;
  }
  .main-navigation .nav-drawer ul li.current_page_item a {
    color: #ffffff;
    border-bottom: 0;
  }
  .main-navigation .nav-drawer.in {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
}

@media screen and (max-width: 769px) {
  .shift {
    -webkit-transition: 0.3s all cubic-bezier(0.785, 0.135, 0.15, 0.86);
    transition: 0.3s all cubic-bezier(0.785, 0.135, 0.15, 0.86);
  }
  .shift.out {
    -webkit-transform: translate3d(-280px, 0, 2px);
    -ms-transform: translate3d(-280px, 0, 2px);
    transform: translate3d(-280px, 0, 2px);
  }
}

h2.site-title {
  float: left;
  padding: 8px 0;
  margin: 0;
  font-size: 2.1em;
  line-height: 1;
  text-transform: uppercase;
}

h2.site-title a {
  color: #00AF20;
}

.skip-navigation .btn {
  position: absolute;
  top: -100px;
  left: 0;
  z-index: 20;
  -webkit-border-top-right-radius: 0;
          border-top-right-radius: 0;
  -webkit-border-bottom-left-radius: 0;
          border-bottom-left-radius: 0;
  -webkit-border-top-left-radius: 0;
          border-top-left-radius: 0;
  opacity: 0;
}

.skip-navigation .btn:focus {
  top: 0;
  opacity: 1;
}

audio {
  width: 100%;
}

.media-transcript {
  position: relative;
  min-height: 20px;
}

.media-transcript .toggle {
  position: absolute;
  height: 100%;
}

.media-transcript .toggle:after {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  position: absolute;
  top: 3px;
  right: -20px;
  width: 12px;
  height: 12px;
  border-right: 3px solid;
  border-bottom: 3px solid;
  border-color: #00AF20;
  content: '';
}

.media-transcript .transcript-title {
  font-weight: bold;
  color: #00AF20;
}

.media-transcript div {
  position: relative;
  display: none;
  max-height: 0;
  overflow: scroll;
}

.media-transcript input[type='checkbox'] {
  position: absolute;
  top: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  margin: 0;
  cursor: pointer;
  opacity: 0;
}

.media-transcript input[type='checkbox']:checked {
  height: 60px;
}

.media-transcript input[type='checkbox']:checked ~ .transcript-title .toggle::after {
  top: 8px;
  -webkit-transform: rotate(225deg);
      -ms-transform: rotate(225deg);
          transform: rotate(225deg);
}

.media-transcript input[type='checkbox']:checked ~ div {
  display: inline-block;
  height: 120px;
  max-height: none;
  padding-bottom: 15px;
  margin: 0;
}

.media-transcript.float-left .transcript-title {
  float: left;
}

.media-transcript.float-right .transcript-title {
  float: right;
  padding-right: 25px;
}

.arrow.up:after {
  -webkit-transform: rotate(-135deg);
      -ms-transform: rotate(-135deg);
          transform: rotate(-135deg);
  position: absolute;
  top: "";
  right: "";
  width: 40px;
  height: 40px;
  border-right: 2px solid;
  border-bottom: 2px solid;
  border-color: #000000;
  content: '';
}

.arrow.right:after {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  position: absolute;
  top: "";
  right: "";
  width: 40px;
  height: 40px;
  border-right: 2px solid;
  border-bottom: 2px solid;
  border-color: #000000;
  content: '';
}

.arrow.down:after {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  position: absolute;
  top: "";
  right: "";
  width: 40px;
  height: 40px;
  border-right: 2px solid;
  border-bottom: 2px solid;
  border-color: #000000;
  content: '';
}

.arrow.left:after {
  -webkit-transform: rotate(135deg);
      -ms-transform: rotate(135deg);
          transform: rotate(135deg);
  position: absolute;
  top: "";
  right: "";
  width: 40px;
  height: 40px;
  border-right: 2px solid;
  border-bottom: 2px solid;
  border-color: #000000;
  content: '';
}

.cta-scroll, .scroll-cta {
  position: absolute;
  width: 100%;
}

.cta-scroll .mouse, .scroll-cta .mouse {
  display: block;
  width: 25px;
  height: 37px;
  padding-top: 4.25px;
  margin: 0 auto;
  border: 2px solid #2A2A2A;
  -webkit-border-radius: 18.5px;
          border-radius: 18.5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.cta-scroll .mouse::after, .scroll-cta .mouse::after, .cta-scroll .mouse::before, .scroll-cta .mouse::before {
  position: absolute;
  top: 10.27778px;
  display: block;
  width: 5px;
  height: 12.33333px;
  margin: 0 auto;
  background-color: rgba(42, 42, 42, 0.2);
  border: 1px solid #2A2A2A;
  content: '';
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.cta-scroll .mouse::after, .scroll-cta .mouse::after {
  -webkit-border-radius: 18.5px;
          border-radius: 18.5px;
  -webkit-transform: translate(-2px, 0);
      -ms-transform: translate(-2px, 0);
          transform: translate(-2px, 0);
}

.cta-scroll .mouse::before, .scroll-cta .mouse::before {
  -webkit-border-radius: 5px;
          border-radius: 5px;
  -webkit-transform: translate(18px, 0);
      -ms-transform: translate(18px, 0);
          transform: translate(18px, 0);
}

.cta-scroll .mouse .scroller, .scroll-cta .mouse .scroller {
  position: relative;
  display: block;
  width: 5px;
  height: 5px;
  margin: 0 auto;
  background-color: #2A2A2A;
  -webkit-border-radius: 2.5px;
          border-radius: 2.5px;
  -webkit-animation-duration: 1.3s;
          animation-duration: 1.3s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-name: cta-scroll;
          animation-name: cta-scroll;
  -webkit-animation-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
          animation-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

.notice {
  padding: 0.75em 1.5em;
  margin-bottom: 0.75em;
  font-style: "Frutiger Condensed", "Helvetica Neue", "Arial", sans-serif;
  font-weight: bold;
  color: #00490d;
  background: rgba(0, 226, 41, 0.8);
  -webkit-border-radius: 0;
          border-radius: 0;
}

.notice a {
  color: black;
}

.notice a:hover {
  color: black;
}

.notice.error {
  color: #662300;
  background: rgba(255, 88, 0, 0.8);
}

.notice.error a {
  color: black;
}

.notice.error a:hover {
  color: black;
}

.notice.warning {
  color: #7e7201;
  background: rgba(253, 231, 27, 0.8);
}

.notice.warning a {
  color: black;
}

.notice.warning a:hover {
  color: black;
}

.notice.success {
  color: #044811;
  background: rgba(13, 216, 50, 0.8);
}

.notice.success a {
  color: black;
}

.notice.success a:hover {
  color: black;
}

input[type='color'].negative,
input[type='date'].negative,
input[type='datetime'].negative,
input[type='datetime-local'].negative,
input[type='email'].negative,
input[type='month'].negative,
input[type='number'].negative,
input[type='password'].negative,
input[type='search'].negative,
input[type='tel'].negative,
input[type='text'].negative,
input[type='time'].negative,
input[type='url'].negative,
input[type='week'].negative {
  color: #ffffff;
  background: transparent;
  border-color: #ffffff;
}

input[type='color'].negative::-webkit-input-placeholder,
input[type='date'].negative::-webkit-input-placeholder,
input[type='datetime'].negative::-webkit-input-placeholder,
input[type='datetime-local'].negative::-webkit-input-placeholder,
input[type='email'].negative::-webkit-input-placeholder,
input[type='month'].negative::-webkit-input-placeholder,
input[type='number'].negative::-webkit-input-placeholder,
input[type='password'].negative::-webkit-input-placeholder,
input[type='search'].negative::-webkit-input-placeholder,
input[type='tel'].negative::-webkit-input-placeholder,
input[type='text'].negative::-webkit-input-placeholder,
input[type='time'].negative::-webkit-input-placeholder,
input[type='url'].negative::-webkit-input-placeholder,
input[type='week'].negative::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
}

input[type='color'].negative::-moz-placeholder,
input[type='date'].negative::-moz-placeholder,
input[type='datetime'].negative::-moz-placeholder,
input[type='datetime-local'].negative::-moz-placeholder,
input[type='email'].negative::-moz-placeholder,
input[type='month'].negative::-moz-placeholder,
input[type='number'].negative::-moz-placeholder,
input[type='password'].negative::-moz-placeholder,
input[type='search'].negative::-moz-placeholder,
input[type='tel'].negative::-moz-placeholder,
input[type='text'].negative::-moz-placeholder,
input[type='time'].negative::-moz-placeholder,
input[type='url'].negative::-moz-placeholder,
input[type='week'].negative::-moz-placeholder {
  color: rgba(255, 255, 255, 0.6);
}

input[type='color'].negative:-ms-input-placeholder,
input[type='date'].negative:-ms-input-placeholder,
input[type='datetime'].negative:-ms-input-placeholder,
input[type='datetime-local'].negative:-ms-input-placeholder,
input[type='email'].negative:-ms-input-placeholder,
input[type='month'].negative:-ms-input-placeholder,
input[type='number'].negative:-ms-input-placeholder,
input[type='password'].negative:-ms-input-placeholder,
input[type='search'].negative:-ms-input-placeholder,
input[type='tel'].negative:-ms-input-placeholder,
input[type='text'].negative:-ms-input-placeholder,
input[type='time'].negative:-ms-input-placeholder,
input[type='url'].negative:-ms-input-placeholder,
input[type='week'].negative:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
}

input[type='color'].negative::placeholder,
input[type='date'].negative::placeholder,
input[type='datetime'].negative::placeholder,
input[type='datetime-local'].negative::placeholder,
input[type='email'].negative::placeholder,
input[type='month'].negative::placeholder,
input[type='number'].negative::placeholder,
input[type='password'].negative::placeholder,
input[type='search'].negative::placeholder,
input[type='tel'].negative::placeholder,
input[type='text'].negative::placeholder,
input[type='time'].negative::placeholder,
input[type='url'].negative::placeholder,
input[type='week'].negative::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

a.textlink {
  color: #00AF20;
  text-decoration: none;
  text-shadow: 0.03em 0.02em #ffffff, -0.03em 0.02em #ffffff, 0.02em 0.03em #ffffff, 0.02em -0.03em #ffffff, 0.06em 0.02em #ffffff, -0.06em 0.02em #ffffff, 0.09em 0.02em #ffffff, -0.09em 0.02em #ffffff, 0.12em 0.02em #ffffff, -0.12em 0.02em #ffffff, 0.15em 0.02em #ffffff, -0.15em 0.02em #ffffff;
  background-image: linear-gradient(to top, transparent 0, #00AF20 0, #00AF20 1px, transparent 1px);
}

a.textlink:hover {
  color: #000200;
  background-image: linear-gradient(to top, transparent 0, #000200 0, #000200 1px, transparent 1px);
}

a.textlink:active {
  color: #000200;
  background-image: linear-gradient(to top, transparent 0, #000200 0, #000200 1px, transparent 1px);
  outline: none;
}

a.textlink:focus {
  color: #00AF20;
  outline: none;
}

a.textlink:visited {
  color: #00AF20;
}

/* =Theme customization starts here
------------------------------------------------------- */

/*# sourceMappingURL=maps/sg_style.css.map */
