@font-face {
  font-family: 'hauert-icons';
  src:  url('fonts/hauert-icons.eot?bynqlc');
  src:  url('fonts/hauert-icons.eot?bynqlc#iefix') format('embedded-opentype'),
    url('fonts/hauert-icons.ttf?bynqlc') format('truetype'),
    url('fonts/hauert-icons.woff?bynqlc') format('woff'),
    url('fonts/hauert-icons.svg?bynqlc#hauert-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

.hauert-icons,
[class^="hauert-icons-"], 
[class*=" hauert-icons-"]  {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'hauert-icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  
  /* Enable Ligatures ================ */
  letter-spacing: 0;
  -webkit-font-feature-settings: "liga";
  -moz-font-feature-settings: "liga=1";
  -moz-font-feature-settings: "liga";
  -ms-font-feature-settings: "liga" 1;
  font-feature-settings: "liga";
  -webkit-font-variant-ligatures: discretionary-ligatures;
  font-variant-ligatures: discretionary-ligatures;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.hauert-icons-active-time:before {
  content: "\e900";
}
.hauert-icons-certificate:before {
  content: "\e901";
}
.hauert-icons-dosing:before {
  content: "\e902";
}
.hauert-icons-duration:before {
  content: "\e903";
}
.hauert-icons-product:before {
  content: "\e904";
}
.hauert-icons-season:before {
  content: "\e905";
}
.hauert-icons-sizes:before {
  content: "\e906";
}
.hauert-icons-suitable:before {
  content: "\e907";
}
.hauert-icons-summary:before {
  content: "\e908";
}
.hauert-icon-crop:before {
  content: "\e909";
}
.hauert-icon-activity:before {
  content: "\e90a";
}